<!DOCTYPE html>
<html>
    <title>Product edit tab</title>
<body>

<h1>Here be products</h1>
<ul>
    {% for x in myproducts %}
      <li>Name:{{ x.p_name }} 
          Desc:{{x.p_desc}} 
          Price:{{x.p_price}} 
          Category:{{x.p_category}} 
          Available?:
            {% if x.p_available == True%}
                Yes    
            {%else%}
                No   
            {% endif %}
          Stock:{{x.p_stock}}
            <form method="post" action="/products/edit">
                {% csrf_token %}
                <input type="hidden" name='p_id' value={{x.id}}>
                <button type="submit" style="background-color: red; color: yellow;">Delete</button>
            </form>
            <a href="{% url 'product-edit' x.id %}">Edit</a></li>
    {% endfor %}
  </ul>
</body>
</html>